.inputs {
    width: 100%;
    font-size: 0.8rem;
    outline: none;
    border: none;
    color: #7A7A7A;
    background-color: transparent;
    height: 100px;
}

.inputsTA {
    width: 100%;
    font-size: 0.8rem;
    outline: none;
    border: none;
    color: #7A7A7A;
    background-color: transparent;
    height: 100px;
    max-height: 100px;
    align-content: center;
}

.inputsTA:hover {
    border-bottom: 1px solid red;
    outline: none;
    cursor: pointer;
}

.inputsTA:focus {
    border-bottom: 1px solid red;
    outline: none;
    color: black;
}

.inputs:hover {
    border-bottom: 1px solid red;
    outline: none;
    cursor: pointer;
}

.inputs:focus {
    border-bottom: 1px solid red;
    outline: none;
    color: black;
}

.btn {
    outline: none;
    border: none;
    background-color: #1A2B48;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 5px;
    width: 100%;
    margin: 0;

}

.btn:hover {
    background-color: #2c497c;
}

.deleteBtn {
    outline: none;
    border: none;
    background-color: #E00000;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 5px;
    width: 100%;
    margin: 0;
}

.deleteBtn:hover {
    background-color: #f32b2b;
}

.error {
    color: red;
    font-size: 0.8rem;
}

table {
    max-width: 100%;
}

.innerBG {
    background-color: white;
}