.headerColor {
    color: #7A7A7A;
}

.infos {
    border: 1px solid #b3b3b3;
    outline: none;
    color: #3f3f3f;
    width: 100%;
    height: 35px;
}

.infos:hover {
    border-bottom: 1px solid red;
    outline: none;
    cursor: pointer;
}

.infos:focus {
    border-bottom: 1px solid red;
    outline: none;
}

.label {
    font-size: 1.15rem;
}


.comment {
    border: 1px solid #b3b3b3;
    outline: none;
    color: #3f3f3f;
    resize: "none";
    height: "100%";
    padding: 5px;
}

.comment:focus {
    outline: none;
}

.btn {
    outline: none;
    border: none;
    background-color: #1A2B48;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 5px;
    width: 100%;
    margin: 0;
}

.btn:hover {
    background-color: #2c497c;
}

.deleteBtn {
    outline: none;
    border: none;
    background-color: #b30000;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 5px;
}

.deleteBtn:hover {
    background-color: #d63200;
}

.navBtn {
    color: #1A2B48 !important;
    text-decoration: none !important;
    font-size: 0.9em !important;
    font-weight: 700 !important;
    border-radius: 0 !important;
}



.modelsList {
    height: 650px;
}


.infosTA {
    border: 1px solid #b3b3b3;
    outline: none;
    color: #3f3f3f;
    width: 100%;
    height: 250px;
}

.infosTA:hover {
    border-bottom: 1px solid red;
    outline: none;
    cursor: pointer;
}

.infosTA:focus {
    border-bottom: 1px solid red;
    outline: none;
}



.addBtn {
    outline: none;
    border: none;
    background-color: #1e481a;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 5px;
    width: 100%;
    margin: 0;
}

.addBtn:hover {
    background-color: #3f7c2c;
}

.addBtnCancel {
    outline: none;
    border: none;
    background-color: #b30000;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 5px;
    width: 100%;
    margin: 0;
}

.addBtnCancel:hover {
    background-color: #d63200;
}

.inputs {
    border: none;
    border-bottom: 1px solid #b3b3b3;
    font-size: 0.9rem;
    outline: none;
    color: #7A7A7A;
    height: 35px;
}

.inputs:hover {
    border-bottom: 1px solid red;
    outline: none;
    cursor: pointer;
}

.inputs:focus {
    border-bottom: 1px solid red;
    outline: none;
    color: black;
}

.actionOkBtn {
    outline: none;
    border: none;
    background-color: #1e481a;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 5px;
    margin: 0;
}

.actionOkBtn:hover {
    background-color: #3f7c2c;
}

.actionNoBtn {
    outline: none;
    border: none;
    background-color: #b30000;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 5px;
    margin: 0;
}

.actionNoBtn:hover {
    background-color: #d63200;
}