#landingText {
    font-size: 3.390rem;
    font-family: DM SANS, sans-serif;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.1rem;
    color: #232323;
}

.textContent {
    font-weight: 400 !important;
    color: #7A7A7A;
    font-family: DM SANS, sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}

.textHeader {
    color: #232323;
}

.landingBtnBg {
    background-color: #E00000;
}