* {
    margin: 0;
    padding: 0;
    font-family: "DmSansLight";
}

html,
body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'DmSansLight';
    src: local('DMSans'), url(./fonts/DMSans.ttf) format('truetype');
    font-display: block;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #962222;
}

::-webkit-scrollbar-thumb:hover {
    background: #b62828;
}